{% set bg_image = page.header.qboss_bg_image ? page.media[page.header.qboss_bg_image] : page.media.images|first %}
   
<section id="hero" class="modular-section {{page.header.qboss_padding}}" {% if bg_image %}style="background-image: url({{ bg_image.url }});"{% endif %}>
    <div class="container">
        <div class="hero-text">
            {{ content }}
        <div>
    </div>
</section>

