{% set module_image = page.header.module_image ? page.media[page.header.module_image] : page.media.images|first %}
{% set render_image = module_image and page.header.module_image_position is defined and page.header.module_image_position != 'none' %}
{% set img_position = render_image ? page.header.module_image_position : '' %}

{% if render_image and img_position == 'back' %}
    {% set classes = classes ~ 'back-img' %}
    {% set styles = styles ~ 'background-image: url(' ~ module_image.url ~ ');' %}
{% endif %}

<section {% if id %}id="{{id}}"{% endif %} {% if classes %}class="{{classes}}"{% endif %} {% if styles %}style="{{styles}}"{% endif %} {% if component %}data-component="{{component}}"{% endif %}>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
</section>
