{% set modular_image = page.header.modular_image ? page.media[page.header.modular_image] : page.media.images|first %}

<section {% if id %}id="{{id}}"{% endif %} {% if classes %}class="{{classes}}"{% endif %} {% if styles %}style="{{styles}}"{% endif %} {% if component %}data-component="{{component}}"{% endif %}>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
</section>
