{% set type_mapping = {'info':'success', 'error': 'error', 'warning': 'warning'} %}

{% if grav.messages.all %}
    <section id="messages">
    {% for message in grav.messages.fetch %}

        {% set scope = message.scope|e %}
        {% set type = type_mapping[scope] %}

        <div class="message {{ type }}" data-component="message">
            {{ message.message|raw }}
            <span class="close small"></span>
        </div>
    {% endfor %}
    </section>
{% endif %}