{% extends 'partials/fragment.html.twig' %}
{% set msg_map = {'info':'success', 'error': 'error', 'warning': 'warning'} %}

{% if grav.messages.all %}
    {% block container %}
        {% for message in grav.messages.fetch %}
            {% set scope = message.scope|e %}

            <div class="message {{ msg_map[scope] }}" data-component="message">
                {{ message.message|raw }}
                <span class="close small"></span>
            </div>
        {% endfor %}
    {% endblock %}
{% endif %}