/*---------------------------------------------------------------------------
|    QBoss - Common Elements
|--------------------------------------------------------------------------*/

// Site Menu
// ---------------------------------------------------------------------------
nav.site-menu {
    ul {
        display: flex;
        align-items: center;
        margin: 0;
        li {
            a {
                display: inline-block;
                &:hover {
                    @include transition(all linear 0.3s);
                }
            }
        }
    }
}

// Sections
// ---------------------------------------------------------------------------
[class*="-section"] {
    overflow: hidden;
    display: flex;
}
.no-pad {
    padding: 0;
}
.xs-pad {
    padding: $qboss-padding-xs;
}
.sm-pad {
    padding: $qboss-padding-sm;
}
.md-pad {
    padding: $qboss-padding-md;
}
.lg-pad {
    padding: $qboss-padding-lg;
}
.xl-pad {
    padding: $qboss-padding-xl;
}

.container-wrap {
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

// Section Backgrounds
// ---------------------------------------------------------------------------
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


// Section Heading
// ---------------------------------------------------------------------------
.heading {
    text-align: center;
    margin-bottom: 4rem;

    h1.title {
        color: $qboss-color-head-dark;
        font-weight: 900;
        text-transform: uppercase;
        + h2 {
            color: $qboss-color-head-light;
            font-weight: 300;
        }
    }
    h2:first-child {
        margin-bottom: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        + h3 {
            position: relative;
            font-weight: 300;
            font-size: $heading-font-size-6;
            line-height: $heading-base-line-6;
            &:before {
                position: absolute;
                width: 3rem;
                height: 2px;
                top: -12px;
                left: 50%;
                margin-left: -1.5rem;
                background: $qboss-color-accent;    
                content: '';
            }
        }
    }
}

// Section Images
// ---------------------------------------------------------------------------
.img-wrap {
    box-shadow: 0 0 20px $qboss-color-shadow;
    padding: 2rem;
    text-align: center;

    img {
        max-width: 28rem;

        &.profile {
            max-width: 18rem;
        }
    }
}

// Progress bar
// ---------------------------------------------------------------------------
progress {
    background-color: $qboss-color-progress-back;
    width: 100%;
    height: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 90px;

    /*For firefox*/
    &::-moz-progress-bar { 
        background: $qboss-color-progress-meter;
        border-radius: 90px;
    }
    /*For webkit browsers*/
    &::-webkit-progress-bar {
        background: $qboss-color-progress-back;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
        border-radius: 90px;
    }
    &::-webkit-progress-value {
        background: $qboss-color-progress-meter;
        border-radius: 90px;
    }
    /*For IE*/
    &::-ms-fill { 
        background: $qboss-color-progress-meter;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
        border-radius: 90px;
    }

    .progress-bar {
        height: 0.5rem;
        margin: 0.5rem 0;
        background-color: $qboss-color-progress-back;
        border-radius: 90px;
    }
    .progress-meter {
        background-color: $qboss-color-progress-meter;
        display: block;
        height: 0.5rem;
        border-radius: 90px;
    }
}

// Notices
// ---------------------------------------------------------------------------
.notices {
    padding: .5rem 1rem;
    margin: 1rem 2rem 1.5rem;
    > p {
        margin-bottom: 0;
        font-size: $font-size-small;
    }
    &.yellow {
        @include qboss-notices($qboss-color-warning);
    }
    &.red {
        @include qboss-notices($qboss-color-error);
    }
    &.blue {
        @include qboss-notices($qboss-color-focus);
    }
    &.green {
        @include qboss-notices($qboss-color-success);
    }
}