/*-------------------------------------
    2. Common Elements
-------------------------------------*/

// site branding
img.site-logo {
    width: 48px;
}

.site-name {
    text-transform: uppercase;
    color: inherit;
}

// navigation menu
nav.site-menu {
    ul {
        display: flex;
        align-items: center;
        margin: 0;
        li {
            a {
                display: inline-block;
                &:hover {
                    -moz-transition: all linear 0.2s;
                    transition: all linear 0.2s;
                }
            }
        }
    }
}

// sections
[class*="-section"] {
    overflow: hidden;
    display: flex;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


section {
    &.section,
    &.callout, 
    &.intense {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// notices
.notices {
    padding: .5rem 1rem;
    margin: 1rem 2rem 1.5rem;
    > p {
        margin-bottom: 0;
        font-size: $font-size-small;
    }
    &.yellow {
        @include qboss-notices($qboss-color-warning);
    }
    &.red {
        @include qboss-notices($qboss-color-error);
    }
    &.blue {
        @include qboss-notices($qboss-color-focus);
    }
    &.green {
        @include qboss-notices($qboss-color-success);
    }
}