footer {
    padding: .5rem 3rem;
    border-top: 1px solid $qboss-black-10;
    .copyright {
        p {
            text-align: center;
            font-size: $font-size-smaller;
            color: $qboss-gray-600;
            a {
                color: $qboss-gray-600;
                &:hover {
                    color: $qboss-gray-900;
                }
            }
        }
    }
}