#topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 16px 64px 0 64px;
    height: 80px;

    background-color: rgb(149, 252, 31);
}

#topbar-brand {
    background-color: #ccc;

    a {
        display: flex;
        align-items: center;
        color: $qboss-color-text;
        background-color: rgb(248, 233, 20);

        img {
            max-width: 48px;
            max-height: 48px;
        }
    }
}

#topbar-nav {

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0; 
    }
}