/*-------------------------------------
    Text Section
-------------------------------------*/
.text-section {
    background-color: $qboss-color-bg-01;
}

/*-------------------------------------
    Features Section
-------------------------------------*/
.feature-item {
    background-color: $qboss-color-white;
    margin-bottom: 2%;
    padding: 2rem 1.25rem;
    border: 1px solid transparent;
    text-align: center;
    @include transition(all ease 0.3s);
    &:hover {
        border-color:  $qboss-color-divider;
    }
    .feature-icon {
        font-size: $heading-font-size-1;
        margin-bottom: 0.5rem;
    }
    .feature-content {
        h3 {
            font-weight: 500;
        }
    }
}

.error-section {
    .container-row {
        min-height: 25rem;
        height: 70vh;
    }
    h2 {
        border-left: .75rem solid $qboss-color-error;
        padding-left: 1rem;
        font-weight: 700;
    }
    h3 {
        font-weight: 300;
        margin-bottom: 3rem;
    }
}