#main {
    section {
        padding: 2rem 1rem 4rem 1rem;

        &.accent, 
        &.callout {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
    }
}

#site-error {
    .container {
        min-height: 25rem;
    }
    h1 {
        border-left: .75rem solid $qboss-color-primary;
        padding-left: 1rem;
    }
    h2 {
        font-weight: 300;
        margin-bottom: 3rem;
    }
}