// min-768px
@media (min-width: $sm) {
    .container {
        max-width: 720px;
    }
}

// min-1024px
@media (min-width: $md) {
    .container {
        max-width: 968px;
    }
}

// min-1200px
@media (min-width: $lg) {
    .container {
        max-width: 1104px;
    }
}

// max 768px
@media (max-width: $sm) {

    // Common
    .site-name {
        font-size: $heading-font-size-3;
    }    

    .notices {
        padding: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    // Header
    #navbar {
        display: block;
        height: auto;
        padding-bottom: 24px;
        a.site-brand {
            display: none;
        }
        nav.site-menu {
            padding: 0;
            border: none; 
            ul {
                display: block;
                li {
                    text-align: center;
                    width: auto;
                    margin: 16px 0;
                    padding: 0;
                }
            }
        }
    }
}