@mixin qboss-button($color-text, $color-back)
{
	color: $color-text;
	background-color: $color-back;

	&:hover {
	    color: $color-text;
	    background-color: lighten($color-back, 8%);
	}
    &:disabled,
    &.disabled {
	    color: rgba($color-text, .6);
	    background-color: rgba($color-back, .6);
    }
    &.outline {
        background: none;
        color: $color-back;
        border-color: $color-back;

        &:hover {
            color: lighten($color-back, 20%);
            border-color: lighten($color-back, 20%);
        }
        &:disabled,
        &.disabled {
            background: none;
    	    color: rgba($color-back, .6);
    	    border-color: rgba($color-back, .6);
        }
    }
}

@mixin qboss-menu-button($color-text, $color-back, $color-hover-text, $color-hover-back)
{
    font-size: $font-size-small;
    a {
        display: inline-block;
        background-color: $color-back;
        color: $color-text;
        border: 1px solid $color-text;
        text-decoration: none;
        line-height: 28px;
        border-radius: 4px;
        padding: 0 16px;
        &:hover {
            text-decoration: none;
            background-color: $color-hover-back;
            color: $color-hover-text;
        }
    }
}

@mixin qboss-notices($color)
{
    color: darken($color, 20%);
    border-left: 0.5rem solid $color;
    background-color: lighten($color, 40%);
    a {
        color: darken($color, 20%);
        &:hover {
            color: $color;
        }
    }
}