/*---------------------------------------------------------------------------
|    QBoss - Mixins
|--------------------------------------------------------------------------*/

// Buttons
// ---------------------------------------------------------------------------
@mixin qboss-button($color-text, $color-back)
{
	color: $color-text;
	background-color: $color-back;

	&:hover {
	    color: $color-text;
	    background-color: lighten($color-back, 8%);
	}
    &:disabled,
    &.disabled {
	    color: rgba($color-text, .6);
	    background-color: rgba($color-back, .6);
    }
    &.outline {
        background: none;
        color: $color-back;
        border-color: $color-back;

        &:hover {
            color: lighten($color-back, 20%);
            border-color: lighten($color-back, 20%);
        }
        &:disabled,
        &.disabled {
            background: none;
    	    color: rgba($color-back, .6);
    	    border-color: rgba($color-back, .6);
        }
    }
}

// Menu Button
// ---------------------------------------------------------------------------
@mixin qboss-menu-button($color-text, $color-back, $color-hover-text, $color-hover-back)
{
    font-size: $font-size-small;
    a {
        display: inline-block;
        background-color: $color-back;
        color: $color-text;
        border: 1px solid $color-text;
        text-decoration: none;
        line-height: 28px;
        border-radius: 4px;
        padding: 0 16px;
        &:hover {
            text-decoration: none;
            background-color: $color-hover-back;
            color: $color-hover-text;
        }
    }
}

// Notices
// ---------------------------------------------------------------------------
@mixin qboss-notices($color)
{
    color: darken($color, 20%);
    border-left: 0.5rem solid $color;
    background-color: lighten($color, 40%);
    a {
        color: darken($color, 20%);
        &:hover {
            color: $color;
        }
    }
}

// Color Scheme
// ---------------------------------------------------------------------------
@mixin qboss-scheme($color-back, 
                    $color-text,
                    $color-text-light,
                    $color-text-dark,
                    $color-head,
                    $color-head-light,
                    $color-head-dark, 
                    $color-link, 
                    $color-link-hover,
                    $color-code,
                    $color-code-back,
                    $color-border,
                    $color-shadow,
                    $color-feature-back) {

    background-color: $color-back;
    color: $color-text;

    h1.title, h1, h2, h3, h4, h5, h6 {
        color: $color-head;
    }
    a {
        color: $color-link;
        &:hover,
        &:focus {
            color: $color-link-hover;
        }
    }
    blockquote {
        border-color: $color-border;
        color: $color-text-light;
    }
    pre,
    pre code {
        background-color: $color-code-back;
        color: $color-code;
    }
    .heading {
        h1.title {
            color: $color-head-dark;
            + h2 {
                color: $color-head-light;
            }
        }
    }
    .img-wrap {
        box-shadow: 0 0 20px $color-shadow;
    }

    .feature-item {
        background-color: $color-feature-back;
        &:hover {
            border-color:  $color-border;
        }
    }

    .skill-item {
        .skill-meter {
            .skill-value {
                color: $color-back;
                background: $color-text;
            }
        }
    }
}