/*-------------------------------------
    3. Splash section
-------------------------------------*/

.splash-section {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $qboss-color-black;
    color: $qboss-color-white;

    .container-row {
        height: 100%;
    }
}