body {
    font-family: $qboss_text-font-family; 
}

h1.title, h1, h2, h3, h4, h5, h6 {
    font-family: $qboss_head-font-family; 
    font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $qboss_head-font-family;
}

button, .button {
    font-family: $qboss_text-font-family; 
}

.notices {
    font-family: $qboss_head-font-family
}