body {
    font-family: $qboss-text-font-family; 
}

h1.title, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
    font-family: $qboss-head-font-family; 
}

button, 
.button {
    font-family: $qboss-text-font-family; 
}

.notices {
    font: {
        family: $qboss-head-font-family;
        size: $font-size-small;
    }
    line-height: $base-line-small;
}