// ---------------------------------------------------------------------------
//  QBee Theme Variables
// ---------------------------------------------------------------------------


// FONT FAMILY
// ---------------------------------------------------------------------------
$qbee-font-text: 'Lato', 'Helvetica Neue', Helvetica, sans-serif !default;
$qbee-font-head: 'Montserrat', Helvetica, sans-serif !default;
$qbee-font-mono: 'Source Code Pro', Monaco, monospace !default;


// COLORS
// ---------------------------------------------------------------------------

// Font colors
$qbee-gray-900: #212121 !default;
$qbee-gray-800: #424242 !default;
$qbee-gray-700: #616161 !default;
$qbee-gray-600: #757575 !default;
$qbee-gray-500: #9e9e9e !default;
$qbee-gray-400: #bdbdbd !default;
$qbee-gray-300: #e0e0e0 !default;
$qbee-gray-200: #eeeeee !default;
$qbee-gray-100: #f5f5f5 !default;
$qbee-gray-50: #fafafa !default;

// Background colors
$qbee-dark-50: #e8e8e8 !default;
$qbee-dark-100: #d1d1d1 !default;
$qbee-dark-200: #bababa !default;
$qbee-dark-300: #a3a3a4 !default;
$qbee-dark-400: #8c8d8d !default;
$qbee-dark-500: #757676 !default;
$qbee-dark-600: #5e5f60 !default;
$qbee-dark-700: #474849 !default;
$qbee-dark-800: #303132 !default;
$qbee-dark-900: #1a1b1c !default;

// B&W colors
$qbee-color-black: #0d0d0e !default;
$qbee-color-white: #ffffff !default;
$qbee-color-accent: #f50057 !default;

// Statuses colors
$qbee-color-error: #f03c69 !default;
$qbee-color-success: #35beb1 !default;
$qbee-color-warning: #f7ba45 !default;
$qbee-color-focus: #1c86f2 !default;

// Button
$qbee-color-button-primary: #0071FF !default;
$qbee-color-button-primary-text: #fdfdfd !default;
$qbee-color-button-secondary: #313439 !default;
$qbee-color-button-secondary-text: #fdfdfd !default;
$qbee-color-button-action: #7cb342 !default;
$qbee-color-button-action-text: #fdfdfd !default;
$qbee-color-button-accent: $qbee-color-accent !default;
$qbee-color-button-accent-text: #fdfdfd !default;
$qbee-color-button-inverted: #f8f8f8 !default;
$qbee-color-button-inverted-text: #313439 !default;

// Background
$qbee-color-back: $qbee-color-white !default;
$qbee-color-back-negative: $qbee-dark-900 !default;

$qbee-color-text: $qbee-gray-700 !default;
$qbee-color-text-dark: $qbee-gray-800 !default;
$qbee-color-text-light: $qbee-gray-600 !default;
$qbee-color-text-disabled: $qbee-gray-500 !default;
$qbee-color-text-negative: $qbee-gray-300 !default;

$qbee-color-head: $qbee-gray-800 !default;
$qbee-color-head-dark: $qbee-gray-900 !default;
$qbee-color-head-light: $qbee-gray-600 !default;
$qbee-color-head-negative: $qbee-gray-100 !default;
$qbee-color-head-disabled: $qbee-gray-400 !default;

$qbee-color-link: $qbee-color-text !default;
$qbee-color-link-hover: $qbee-gray-900 !default;
$qbee-color-link-negative: $qbee-color-text-negative !default;
$qbee-color-link-negative-hover: $qbee-gray-50 !default;

$qbee-color-code-text: $qbee-gray-900 !default;
$qbee-color-code-back: $qbee-dark-50 !default;
$qbee-color-code-text-negative: $qbee-gray-100 !default;
$qbee-color-code-back-negative: $qbee-dark-700 !default;

$qbee-color-border: $qbee-dark-600 !default;
$qbee-color-border-negative: $qbee-dark-300 !default;

$qbee-color-divider: $qbee-gray-300 !default;
$qbee-color-divider-negative: $qbee-gray-600 !default;

$qbee-color-shadow: $qbee-dark-200 !default;
$qbee-color-shadow-negative: $qbee-dark-700 !default;

$qbee-color-progress-back: $qbee-dark-50 !default;
$qbee-color-progress-meter: $qbee-color-accent !default;


// SECTIONS
// ---------------------------------------------------------------------------

// PAdding
$qbee-padding-xs: 1rem 0 !default; 
$qbee-padding-sm: 2rem 0 !default; 
$qbee-padding-md: 4rem 0 !default; 
$qbee-padding-lg: 6rem 0 !default; 
$qbee-padding-xl: 8rem 0 !default; 
