{% extends 'partials/base.html.twig' %}

{% block sections %}
    <section id="{{page.header.modular_id}}" class="page-section {{page.header.modular_padding}}">
        <div class="container">
            {{ page.content }}
        </div>
    </section>
{% endblock %}
