{% extends 'partials/base.html.twig' %}

{% block main %}
    <section class="page-section">
        <div class="container">
            {{ page.content }}
        </div>
    </section>
{% endblock %}
