{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="site-error">
		<p class="h4">{{ 'QBOSS.ERROR.MESSAGE'|t }}</p>
		<h1>{{ 'QBOSS.ERROR.TITLE'|t }} {{ page.header.http_response_code }}</h1>
		<div>{{ page.content }}</div>
	</div>
{% endblock %}
