{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="site-error">
		<h1>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
		<div>{{ page.content }}</div>
	</div>
{% endblock %}
